@page
@model ProjektSystemRezerwacjiSalMN.Pages.DebugIndexModel
@{
}

<div class="text-center">
    <a asp-area="" asp-page="/Debugging/Buildings/Index">Manage buildings</a>
</div>
<div class="text-center">
    <a asp-area="" asp-page="/Debugging/Rooms/Index">Manage rooms</a>
</div>
<div class="text-center">
    <a asp-area="" asp-page="/Debugging/Equipment/Index">Manage equipment</a>
</div>