@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">System rezerwacji sal</h1>
    <p>Nawiguj po serwisie za pomocą górnego tabu (tylko dla użytkowników zalogowanych)</p>
</div>
